* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: linear-gradient(256.54deg, #151A30 0%, #211D4D 27.59%, #271630 68.97%, #0F1836 98.09%),linear-gradient(0deg, rgba(21, 26, 48, 0.4), rgba(21, 26, 48, 0.4)); */
  background-color: #101426;
  font-family: "Poppins", sans-serif;
}

a {
  color: white;
  background: none;
}

.swiper-pagination-bullet-active {
  background: #e32682 !important;
}

.hero {
  background: linear-gradient(257deg, rgb(21, 26, 48) 0%, rgb(33, 29, 77) 28%, rgb(39, 22, 48) 70%, rgb(15, 24, 54) 100%), linear-gradient(0deg, rgba(21, 26, 48, 0.4) 0%, rgba(21, 26, 48, 0.4) 100%);
  border-radius: 0 0 40px 40px;
}

.slick-track {
  transition: -webkit-transform 0 linear !important;
}

.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-container .slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-list {
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .slick-list {
    height: 94vh !important;
  }
}

.nav {
  gap: 42px;
}

.header {
  align-items: center;
  width: 85%;
  margin: 0 auto;
  border-radius: 10px;
}

#select {
  outline: none;
  border: none;
  background: none;
  color: white;
}

.our-values {
  background: linear-gradient(256.54deg, #151A30 0%, #211D4D 27.59%, #271630 68.97%, #0F1836 98.09%);
}

.box {
  gap: 19px;
}

.our-values {
  height: 544px;
}

.event {
  width: 360px;
}

.events-section {
  width: 85%;
}

.event-box img {
  height: 375px !important;
  width: 360px !important;
  object-fit: cover !important;
  border-radius: 1.5rem !important;
}

.section-reused {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
}

.section-reused:hover .event {
  background-color: white;
  color: #0F1836;
  transition: 0.5s all ease;
}

.section-reused::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 69%;
  border-radius: 1.5rem;
  background-color: black;
  visibility: hidden;
  opacity: 0.3;
}

.section-reused:hover::before {
  visibility: visible;
  transition: 0.5s all ease;
}

.overlay {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 1.2rem;
  visibility: hidden;
  background-color: white;
  border-radius: .5rem;
  padding: 10px 20px;
  text-align: center;
}

.section-reused:hover .overlay {
  visibility: visible;
  transition: 0.3s all ease;
}

.overlay button {
  font-family: Euclid Circular A, sans-serif;
  font-weight: 500;
}

.blog-card-main{
  position: relative;
  overflow: hidden;
}
.blog-card-main button{
  opacity: 0;
  transition: .5s;
}
.blog-card-main:hover button{opacity: 1;}
.blog-card-element:hover{background: #fff;}
.blog-card-element:hover .more-text p{color: #101426;}

.blog-card-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 24px;
}

.blog-card-main:hover::after {opacity: 0.5;}