@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply container mx-auto py-10 px-5 sm:p-10 my-10 w-11/12;
  }

  .transition-classic {
    @apply duration-300 ease-in-out transition-all;
  }
}

.text-border {
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 0.7px#F7F9FC;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #192038;
  border-radius: 500px;
}
